html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #f0f0f0;
    /* Replace with your default app color */
}

.Home {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
    width: 110vh;
    background-image: url("../../assets/HomeBackground.jpg");
    background-size: cover;
    background-position: center center;
    border-radius: 20px;
    overflow: hidden;
    margin-top: 100px;
}

.content {
    text-align: center;
    color: #ffffff;
}

.access-button {
    background-color: #005dc0;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 20px;
    height: 65px;
    width: 200px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 20px;
    /* Add some space between the text and the button */
}

.access-button:hover {
    background-color: #0056b3;
}

.subtitle {
    color: #646464;
    font:
        16px "Verdana",
        sans-serif;
}